body {
    font-family: Georgia;
    margin: 2rem;
    text-align: center; 
    font-size: 2rem;
}

.center {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.form {
    padding: 10px;
}

.padded{
    padding: 10px;
}

.error{
    color: red;
}